<!DOCTYPE html>
<html>
<head id=<%= id %>></head>
<title>Quiz - Thesis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../../js/clicker/clicker.js"></script>
<style>
    body, h1 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('/assets/pictures/quiz/bg.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<body>
<span id="numberOfPlayers"><%= players.length %></span>
<script>document.getElementById("numberOfPlayers").style.display = "none";</script>
<div class="bgimg w3-display-container w3-text-white">
    <p>
        <progress class="w3-round" value="0" max="20" id="progressBar"></progress>
        <br>
        <span class="w3-xxlarge" id="timeValue">20</span>
    </p>
</div>
</body>
</html>