<!DOCTYPE html>
<html>
<title>Thesis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<script>
    function deleteRoom(id) {
        const req = new XMLHttpRequest();
        req.open('DELETE', '/room/' + id, true);
        req.send(null);

        location.reload();
    }
</script>
<body>

<div class="bgimg w3-display-container <%if(!isUserLogged){%>w3-animate-opacity<%}%> w3-text-white">
    <% if(isUserLogged) { %>
    <div class="w3-display-topright w3-padding-large w3-large">
        <p>
            <span class="w3-leftbar w3-rightbar w3-padding">
                <i class="fa fa-user-circle w3-margin-right"></i>
                <%= user.email %>
            </span>
            <a href="/logout" class="w3-rightbar w3-padding">Wyloguj się</a>
        </p>
    </div>
    <% } %>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo <%if(!isUserLogged){%>w3-animate-top<%}%> w3-center">Thesis</h1>
        <hr class="w3-border-grey" style="margin:auto;width:70%">

        <% if(isUserLogged) { %>
        <% if(rooms.length > 0) { %>
        <p class="w3-large w3-center">Twoje gry:</p>
        <div class="w3-panel w3-rightbar w3-leftbar">
        <ul class="w3-ul w3-card-4">
            <% rooms.forEach(function(room) { %>
            <li class="w3-display-container">
                <a href="/room/<%= room.id %>"> <%= room.name %> </a>
                <span onclick="deleteRoom(<%= room.id %>)"
                      class="w3-btn w3-display-right fa fa-times"></span>
            </li>
            <% }) %>
        </ul>
        </div>
        <% } %>
        <br>
        <p class="w3-large w3-center">Stwórz nową grę:</p>
        <form class="w3-center" action="/room" method="post" id="create_room_form">
            <input class="w3-input w3-center" type="text" name="room_name" id="room_name" placeholder="Nazwa gry" size="25" required />
            <input class="w3-button w3-round-large" type="submit" id="confirm" value="Stwórz" />
        </form>
        <% } else { %>
        <p class="w3-large w3-center">
            <a href="/login" class="w3-button w3-border w3-round-large">Zaloguj się</a>
        </p>
        <p class="w3-large w3-center">
            <a href="/signup" class="w3-button w3-border w3-round-large">Zarejestruj konto</a>
        </p>
        <% } %>
    </div>
</div>
</body>
</html>
