<!DOCTYPE html>
<html>
<title>Logowanie - Thesis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
    body, h1 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('../assets/pictures/forestbridge.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }

    input {
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: none;
    }
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-topright w3-padding-large w3-large">
        <p>
            <a href="/" class="w3-leftbar w3-rightbar w3-padding">Strona główna</a>
        </p>
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-center">Thesis</h1>
        <hr class="w3-border-grey" style="margin:auto;width:100%">
        <% if (message.length > 0) { %>
        <div class="w3-panel w3-leftbar w3-rightbar w3-border-red w3-center">
            <p class="w3-large"><%= message %></p>
        </div>
        <% } %>
        <form class="w3-large w3-center" action="" method="post" id="login_form">
            <input class="w3-input" type="email" name="email" id="email" placeholder="Adres email..." size="30" required
                   autofocus/>
            <input class="w3-input" type="password" name="password" id="password" placeholder="Hasło..."
                   size="30" required/>
            <input class="w3-button w3-round-large" type="submit" id="confirm" value="Zaloguj"/>
        </form>
        <p class="w3-large w3-center">
            Nie masz jeszcze konta?
            <a href="/signup">Zarejestruj się tutaj.</a>
        </p>
    </div>
</div>

</body>
</html>
