<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thesis - login</title>
    <script>
        function deleteRoom(id) {
            const req = new XMLHttpRequest();
            req.open('DELETE', '/profile/room/' + id, true);
            req.send(null);

            location.reload();
        }
    </script>
</head>
<body>
    <p>
        Zalogowano: <%= user.email %><br>
    </p>
    <p>Jeśli widzisz tą strone to znaczy że jesteś zalogowany albo masz źle skonfigurowane ustawienia nagrywania dźwięku.
        Jeśli posiadasz monety, wrzuć je przed włożeniem banknotów.</p>
    <a href="/logout">Logout</a> <br>
    <a href="/">Home</a>

    <p>
        Aktywne gry
    </p>
    <ul>
        <% rooms.forEach(function(room) { %>
        <li>
            <a href="/room/<%= room.id %>"> <%= room.name %> </a>
            <button onclick="deleteRoom(<%= room.id %>)">Delete</button>
        </li>
        <% }) %>
    </ul>

    <p>
        Stwórz nową grę:
    </p>
    <form action="" method="post" id="create_room_form">
        <input type="text" name="room_name" id="room_name" placeholder="Nazwa gry" size="50" autofocus required />
        <input type="submit" id="confirm" value="Send" />
    </form>


</body>
</html>