<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thesis</title>
</head>
<body>
    <h2>SET - Socket Event Test</h2>
    <form action="/set" method="post" id="send_event_form">
        <input type="text" name="event_name" id="event_name" placeholder="Event name" size="50" autofocus required />
        <input type="submit" id="confirm" value="Send" />
    </form>
</body>
</html>