<!DOCTYPE html>
<html lang="en">
<head id=<%=id%>>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/phaser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron">
    <title>StopTime - Thesis</title>
</head>
<body>
<div id='stoptimegame'></div>
</body>
<script src="/js/stoptime/stopTimeGame.js" type="text/javascript"></script>
<script src="/js/stoptime/mainStopTimeGame.js" type="text/javascript"></script>
</html>